# 编译产物
build/
app/build/
.gradle/
bin/
gen/

# IDE 配置
.idea/
*.iml
.kotlin/

# 本地机密文件
local.properties

# 排除所有图片截图素材
*.png
*.jpg
*.jpeg
*.gif

# macOS
.DS_Store

# 其他
/captures
.externalNativeBuild
.cxx
